@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-template-background: #04194c;
  --secondary-template-background: #e9eef9;
  --light-template-background: #fff;
  --accordion-background-active: #2f84ed;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  scroll-behavior: smooth;
}

body {
  background-color: var(--secondary-template-background) !important;
}

.template-header {
  background: var(--primary-template-background);
  height: 15vh;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-flow: column wrap;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-template-background);
  align-self: center;
}

.logo h2 {
  margin: 0 0 0 11px;
  font-size: 18px;
}

.wrapper {
  max-width: 1120px;
  width: 100%;
  padding: 30px 10px;
  margin: 0 auto;
  min-height: 75vh;
}

#accordionExample {
  background: var(--light-template-background);
  position: relative;
  margin: 0 auto 20px;
  border-radius: 7px;
  padding: 0;
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}

.widget-holder .widget-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.widget-holder .widget-title h4 {
  margin: 0;
}

.yotpo-display-l .yotpo-base-layout {
  width: 100% !important;
}

#star-rating .yotpo-reviews-star-ratings-widget {
  justify-content: center !important;
}

#yotpo-vugc-preview-mode-layout,
.yotpo-reviews-carousel-preview-mode-layout,
.yotpo-pp-preview-mode-layout {
  height: auto !important;
}

#accordionExample .accordion-button:not(.collapsed) {
  background: var(--accordion-background-active);
  color: var(--light-template-background);
}

.footer-template {
  background: var(--primary-template-background);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d9d9df;
}

.footer-template .footer-logo {
  color: var(--light-template-background);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer-logo img {
  width: 35px;
}

.footer-logo h2 {
  font-size: 18px;
  margin: 0 0 0 9px;
}

.cliboard-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 2px dashed var(--primary-template-background);
  margin: 0 clamp(10px, 4vw, 50px) clamp(10px, 4vw, 50px);
  padding: 30px 20px 20px;
  background: #f6f6ff;
}

.cliboard-holder .clipboard-details {
  width: clamp(300px, 45%, 600px);
  margin: 0 10px 20px;
}

.clipboard-details {
  display: flex;
  flex-flow: column wrap;
}

.cliboard-holder h2 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}

.clipboard-details h3 {
  font-size: 16px;
  flex-grow: 1;
}

.clipboard-details p {
  font-size: 12px;
}

.clipboard-details textarea {
  resize: none;
  height: 100px;
  padding: 0 10px;
  font-size: 12px;
  text-align: left;
  margin-bottom: 14px;
}

.rating-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.rating-holder section {
  width: clamp(300px, 45%, 600px);
  margin: 0 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--secondary-template-background);
  padding: 20px;
  border-radius: 20px;
}

.rating-holder section h1 {
  font-size: 20px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.yotpo-widget-clear .yotpo-reviews-tab-layout-preview {
  height: auto;
}

/*# sourceMappingURL=main.css.map */


/*=== === === === === === ===  widget v3 Css === === === === === ===  */
/* === FONT USED === */

@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.shopify.com/s/files/1/0708/4605/4708/files/Gotham-Medium.otf?v=1686018012');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.shopify.com/s/files/1/0708/4605/4708/files/Gotham-Light.otf?v=1681841719');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.shopify.com/s/files/1/0708/4605/4708/files/Gotham_Black_Regular.ttf?v=1711740582');
  font-weight: 400;
  font-style: normal;
}
 
/* === Changing font and colors 1.1 === */
:root{ 
  --PrimaryColor_Yotpo: #91D1CF;
  --SecondaryColor_Yotpo: #91D1CF;
  --FontColor_Yotpo: #6B6D76;
  --BorderColor_Yotpo: #6B6D76;
  --FallbackFont_Yotpo: sans-serif;
  --TitleReviews_Yotpo: #6B6D76;
  --TitleReviewsWeight_Yotpo: bold;
  --ContentReviews_Yotpo: #6B6D76;
  --VerifiedIconBackgroundColor_Yotpo: #1cc286;
}

.yotpo-reviews-main-widget {
  --primary-font-family: "Gotham", sans-serif !important;
  --primary-font-weight: 400 !important;
  --primary-font-style: normal !important;
  --secondary-font-family: "Gotham", sans-serif !important;
  --secondary-font-weight: 300 !important;
  --secondary-font-style: normal !important;
}

div#yotpo-reviews-main-widget *, .modal-backdrop *{
font-family: 'Gotham', var(--FallbackFont_Yotpo) !important;
}
::placeholder{
  font-family: 'Gotham', var(--FallbackFont_Yotpo) !important;
}

.yotpo-reviews-main-widget .yotpo-head .yotpo-reviews-wrapper .yotpo-reviews-trademark svg path{
  fill: var(--PrimaryColor_Yotpo);
}
.yotpo-reviews-main-widget .yotpo-review-form-modal .yotpo-checkbox-container.yotpo-terms-and-conditions-container {
  flex-wrap: wrap;
}
.yotpo-reviews-main-widget .yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-filters-container .yotpo-filters-container-inner .yotpo-search-filter .yotpo-search-input{
padding: 0 11px 0 34px;
}
.yotpo-reviews-main-widget .yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-filters-container .yotpo-filters-container-inner .yotpo-search-filter .yotpo-search-input,
.yotpo-reviews-main-widget .yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-filters-container .yotpo-filters-container-inner .yotpo-score-filter .yotpo-filter-select,
.yotpo-reviews-main-widget .yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-filters-container .yotpo-filters-container-inner .yotpo-media-filter .yotpo-media-select,
.yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-filters-container .yotpo-filters-container-inner .yotpo-custom-questions-filters .yotpo-custom-questions-filters-wrapper .yotpo-custom-questions-filter .yotpo-dropdown-closable .yotpo-dropdown-base .yotpo-dropdown-placeholder-input,
button.yotpo-mobile-filters-btn.yotpo-mobile-filters-popup-btn{
border-radius: 3px;
}
.yotpo-reviews-main-widget .modal-backdrop .yotpo-modal .modal-body .yotpo-review-form .form-footer button.yotpo-new-review-submit{
  background-color: var(--primary-color);
}
.yotpo-display-s .yotpo-filter-select,
.yotpo-display-s .yotpo-media-select,
.yotpo-display-s .yotpo-dropdown-closable, 
.yotpo-display-s .yotpo-dropdown-closable .yotpo-dropdown-base, 
.yotpo-display-s .yotpo-dropdown-closable .yotpo-dropdown-base .yotpo-dropdown-placeholder-input{
border-radius: 3px !important;
}

.yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-verified-image-icon .yotpo-verified-icon-wrapper{
top: 27px;
  left: 28px;
}

.yotpo-reviews-main-widget .yotpo-main-widget-layout [class*="yotpo-main-"] .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-media-filter-container svg.yotpo-radio-icon path{
  fill: var(--PrimaryColor_Yotpo);
}
.yotpo-reviews-main-widget .yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-filters-container .yotpo-filters-container-inner .yotpo-smart-topics-panel .yotpo-smart-topics .smart-topic-collection label.yotpo-smart-topic-filter.smart-topic-wrapper{
border-radius: 3px;
}
#yotpo-basic-modal .yotpo-basic-modal-body{
  margin: 0 14px;
  width: auto;
}
.yotpo-reviews-main-widget.yotpo-widget-override-css.yotpo-device-mobile .yotpo-base-layout .yotpo-main-layout .yotpo-mobile-filters-popup-overlay-container .yotpo-mobile-filters-popup-header button.yotpo-mobile-filters-popup-clear{
top: 7px;
right: 80px;
}
.yotpo-reviews-main-widget.yotpo-widget-override-css.yotpo-device-mobile .yotpo-base-layout .yotpo-main-layout .yotpo-mobile-filters-popup-overlay-container .yotpo-mobile-filters-popup-content{
padding-top: 130px;
}
.yotpo-display-s .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel{
gap: 15px;
flex-direction: column;
}

/* =============== FIXATION CODES =============== */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop.yotpo-media-modal {
  background-color: #fff;
  overflow-y: scroll;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop.yotpo-media-modal #yotpo-modal {
  overflow-y: unset;
}
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-bottom-line-scroll-panel:hover {
  cursor: pointer;
}
.yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-read-more{
font-weight: 700;
text-decoration: underline;
text-underline-offset: 4px;
}
/* =============== FIXATION CODES =============== */
[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-bottom-line-scroll-panel:hover {
  cursor: pointer;
}
/* Fixed position Arrow in Image Modal */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop.yotpo-media-modal {
  background-color: #fff;
  overflow-y: scroll;
}
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop.yotpo-media-modal #yotpo-modal {
  overflow-y: unset;
}
/* Fixing the space on Read More when it's first on the line */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-content .yotpo-read-more-text {
  display: inline;
  margin-right: 5px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-read-more {
  margin: 0;
}


/* Fix code on Helpful Section issue in iPhone */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container {
  display: flex;
  gap: 5px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container .yotpo-review-votes-icons {
  margin: 0;
}
.yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-date{
position: absolute;
  right: 0;
  top: 0px;
}


/* ================ ADDTIONAL CSS CODES FIXES ================ */
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .modal-backdrop.yotpo-media-modal,
[class*="yotpo-display-"][class*="yotpo-device-"][style] #yotpo-mobile-filters-popup,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-qna-modal-backdrop {
  z-index: 999999999999999 !important;
}
/* Buttons */
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"],
#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"],
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal #yotpo-modal.yotpo-form-complete .yotpo-form-complete .yotpo-shop-complete,
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer .yotpo-new-review-submit,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-question-form .form-footer .yotpo-question-submit,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-vertical-pagination .yotpo-reviews-pagination-item,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-vertical-pagination .yotpo-pagination-item {
  background: #fff;
  color: var(--FontColor_Yotpo);
  border: 1px solid var(--PrimaryColor_Yotpo);
  border-radius: 3px;
  width: auto;
  height: auto;
  line-height: 1;
  font-weight: 700;
  padding: 12px 30px;
  text-decoration: none;
}
#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"] span{
color: var(--PrimaryColor_Yotpo);
}
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"]#yotpo-main-widget-btn {
  width: auto !important;
  height: auto !important;
}

/* Filter section */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel [class$="filter-container"] label input,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup [class$="filter"] input {
  border-radius: 5px;
  border: 1px solid var(--PrimaryColor_Yotpo);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel .yotpo-mobile-filters-btn {
  border-radius: 5px;
  border-width: 1px;
  flex-basis: auto;
  width: 100%;
}

/* mobile filter modal */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header {
  padding: 20px;
  position: static;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 40px 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-popup-close-button-wrapper {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-popup-close-button-wrapper > svg {
  position: static;
  transform: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-content {
  box-sizing: border-box;
  padding: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-actions {
  box-sizing: border-box;
  padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header  .yotpo-review-border-smooth {
  display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-mobile-filters-popup-clear {
  position: static;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-actions .yotpo-filters-results-btn {
  position: static;
  height: auto;
  padding: 20px;
}
/* mobile filter modal */
/* Filter section */

/* Reviews section */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review {
  justify-content: space-between;
  position: relative;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-left-panel {
  flex-basis: unset;
  width: 230px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review-left-panel {
  width: auto;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-left-panel .yotpo-verified-image-icon .yotpo-initials-icon .yotpo-initials-background {
  fill: var(--SecondaryColor_Yotpo);
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-left-panel .yotpo-verified-image-icon .yotpo-initials-icon .yotpo-avatar-initials-text {
  fill: #fff;
  font-weight: 400;
  font-size: 18px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-verified-image-icon .yotpo-verified-icon > circle {
  fill: var(--VerifiedIconBackgroundColor_Yotpo);
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-center-panel {
  width: calc(100% - 350px);
  flex-basis: auto;
/*    padding: 0;*/
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review-center-panel {
  width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-center-panel .yotpo-review-content {
  display: block;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review-center-panel .yotpo-review-content {
  margin: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-center-panel .yotpo-review-content .sr-only {
  display: none;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-center-panel .yotpo-review-comment {
  width: 100%;
  flex-basis: 100%;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-center-panel .yotpo-review-comment .yotpo-comment-avatar {
  width: 100%;
  height: 40px;
  max-width: 40px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-right-panel {
  flex-basis: auto;
  min-width: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review-votes-text {
  font-size: 13px;
}
/* Reviews section */

/* Form section */
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .form-footer {
  box-sizing: border-box;
  padding: 10px 0 30px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal .form-footer {
  padding: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal .yotpo-new-review-headline {
  width: 100%;
}
.yotpo-reviews-main-widget .modal-backdrop.yotpo-review-form-modal h4,
.yotpo-reviews-main-widget .modal-backdrop.yotpo-review-form-modal .yotpo-file-input-headline {
  font-size: 14px;
}
.yotpo-dropdown-content{
background-color: #fff !important;
}

/* mobile */
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-qna-modal textarea,
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile #newReviewFormModal .yotpo-new-review-content textarea,
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-qna-modal .yotpo-input-wrapper,
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile #newReviewFormModal .yotpo-name-email-wrapper .yotpo-input-wrapper {
  width: 100%;
  box-sizing: border-box;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile #newReviewFormModal .yotpo-star-rating-icons {
  flex-direction: column;
  margin: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile #newReviewFormModal .yotpo-star-rating-icons .yotpo-star-rating-text {
  width: 100%;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile #newReviewFormModal .yotpo-star-rating-icons .yotpo-star-rating-icons-wrapper {
  padding-left: 0;
}
.yotpo-reviews-main-widget .modal-backdrop.yotpo-review-form-modal .yotpo-review-form .yotpo-new-review-headline,
.yotpo-reviews-main-widget .modal-backdrop.yotpo-review-form-modal .yotpo-review-form .yotpo-name-email-wrapper,
.yotpo-reviews-main-widget.yotpo-device-mobile .modal-backdrop.yotpo-review-form-modal .yotpo-review-form .yotpo-name-email-wrapper .yotpo-new-review-name, 
.yotpo-reviews-main-widget.yotpo-device-mobile .modal-backdrop.yotpo-review-form-modal .yotpo-review-form .yotpo-name-email-wrapper .yotpo-new-review-email {
  width: 100%;
}
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop #yotpo-basic-modal #modalDescription form.yotpo-review-form,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop #yotpo-basic-modal #modalDescription form.yotpo-review-form .yotpo-input-wrapper.yotpo-new-review-content{
width: 100%;
}
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal #yotpo-modal #modalDescription{
margin: 0 15px;
}


/* mobile */
/* Form section */

/* Pagination section */
[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-pagination-number.selected, 
[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-pagination-number:hover {
  background: var(--SecondaryColor_Yotpo);
  height: auto;
  color: #fff;
  border-bottom: 2px solid var(--SecondaryColor_Yotpo);
}
/* Pagination section */

/* updated modal image */
[class*="yotpo-device-"][class*="yotpo-display-"] #yotpo-basic-modal .yotpo-review-media-modal-body .yotpo-modal-body-review-content .yotpo-read-more-text,
[class*="yotpo-device-"][class*="yotpo-display-"] #yotpo-basic-modal .yotpo-review-media-modal-body .yotpo-modal-body-review-content .yotpo-read-more {
  font-size: 14px;
}
[class*="yotpo-device-"][class*="yotpo-display-"] #yotpo-basic-modal .yotpo-review-media-modal-body .yotpo-modal-body-review-content .yotpo-read-more {
  text-decoration: underline;
  text-underline-offset: 3px;
}
[class*="yotpo-device-"][class*="yotpo-display-"] #yotpo-basic-modal .yotpo-review-media-modal-body .yotpo-modal-body-review-content {
  flex: 0;
}
/* updated modal image */

.yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-read-more,
.yotpo-read-more{
font-weight: 700;
text-decoration: underline;
text-underline-offset: 4px;
font-size: inherit;
}
.yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-read-more:hover{
color: var(--PrimaryColor_Yotpo);
}
.yotpo-mobile-filters-btn .yotpo-mobile-filters-btn-badge{
  padding: 3px 8px !important;
  position: relative;
  left: 6px;
}
.yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-mobile-filters-popup-btn{

}
.yotpo-reviews-main-widget.yotpo-widget-override-css.yotpo-device-mobile .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel button.yotpo-mobile-filters-btn.yotpo-mobile-filters-popup-btn{
flex-basis: 40%;
width: 150px;
}
.yotpo-reviews-main-widget.yotpo-widget-override-css.yotpo-device-mobile .yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-date .yotpo-date-format{
position: absolute;
  right: 0;
  top: 10px;
  font-size: 13px;
}
.yotpo-reviews-main-widget.yotpo-widget-override-css.yotpo-device-mobile .yotpo-main-widget-layout .yotpo-base-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review{
position: relative;
}
.yotpo-display-s .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-content {
  display: block;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-head .yotpo-reviews-by {
  flex-wrap: wrap;
  gap: 4px;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-head .yotpo-reviews-by .yotpo-reviews-icon-text {
  margin: 0;
}
.yotpo-reviews-main-widget .modal-backdrop .yotpo-modal .yotpo-modal-header h1.yotpo-modal-header{
  padding: 0px 12px 0 12px;
  box-sizing: border-box;
}


/* ================= MOBILE FILTER POPUP ================= */
div#yotpo-mobile-filters-popup {
  z-index: 99999999999999 !important; 
}
.yotpo-reviews-main-widget.yotpo-display-s .yotpo-main-widget-layout .yotpo-main-layout .yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-content .sr-only{
display: none;
}
.yotpo-score-filter .yotpo-dropdown-content span.yotpo-score-option span.yotpo-score{
  font-size: 11px !important;
}


/* ================= Mobile Pagination Load more Review =================*/
.yotpo-widget-instance .yotpo-vertical-pagination:has(.yotpo-reviews-pagination-item[aria-label="Load more reviews"]){
  width: 100%;
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
  .yotpo-widget-instance .yotpo-vertical-pagination:has(.yotpo-reviews-pagination-item[aria-label="Load more reviews"]){
      width: 50%;
  }  
}
.yotpo-vertical-pagination .yotpo-reviews-pagination-item[aria-label="Load more reviews"]{
  width: 100%;
  height: 45px;
  padding: 12px !important;
}


/* ================= REVIEW POPUP ================= */
[class*="yotpo-device-"][class*="yotpo-display-"] #yotpo-basic-modal .yotpo-review-media-modal-body .yotpo-modal-body-review-content .yotpo-read-more[data-position="closed"]:before {
  content: "더 읽어보세요";
  position: absolute;
  background-color: #fff;
  width: 81px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
[class*="yotpo-device-"][class*="yotpo-display-"] #yotpo-basic-modal .yotpo-review-media-modal-body .yotpo-modal-body-review-content .yotpo-read-more[data-position="opened"]:before {
  content: "덜 읽으세요";
  position: absolute;
  background-color: #fff;
  width: 81px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.yotpo-widget-instance .yotpo-display-l .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-center-panel .yotpo-review-rating-title,
.yotpo-widget-instance .yotpo-display-m .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-center-panel .yotpo-review-rating-title {
  align-items: center;
}

.yotpo-device-mobile .yotpo-review-form[data-v-18c865ea],
.yotpo-device-tablet .yotpo-review-form[data-v-18c865ea],
.yotpo-input-wrapper.yotpo-new-review-content {
  width: 100%!important;
}

a.yotpo-checkbox-link {
  color: #91D1CF;
}


.yotpo-display-m .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel {
  flex-wrap: wrap;
}

.yotpo-display-m .yotpo-search-filter.yotpo-free-search-filter-container, .yotpo-display-m input#scoreDropdownInput {
  margin-bottom: 15px;
}

.yotpo-widget-clear, .yotpo-widget-clear button, .yotpo-widget-clear form input, .yotpo-widget-clear span {
  color: #6b6d76!important;
}


